:root {
    --color-offwhite: #F5F5F5;
    --color-mblue: rgb(0, 120, 255);
}

body{
    scroll-padding-top: 70px;
}

.text-mblue{
    color: var(--color-mblue);
}

.border-mblue{
    border-color: var(--color-mblue) !important;
}

.bg-offwhite {
    background-color: var(--color-offwhite);
}

.bg-mblue{
    background-color: var(--color-mblue);
}

.mainnavbar{
    background-color: rgba(0, 0, 0, 0.8);
    
    .dropdown-submenu:hover > .dropdown-menu, .dropdown:hover > .dropdown-menu{
        display: block !important;
    }

    .dropdown-item{
        transition:0.3s all ;
        -webkit-transition:0.3s all ;
        -moz-transition:0.3s all ;
        -ms-transition:0.3s all ;
        -o-transition:0.3s all ;
        &:hover{
            color: var(--color-mblue);
        }
    }
}

.mainnavbar .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 6px;
    background-color: #fff;
    visibility: hidden;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

.mainnavbar .nav-link:hover::before,
.mainnavbar .nav-link.active::before,
.mainnavbar .nav-link:focus::before {
    width: 80%;
    visibility: visible;
}



.hero{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;

}

.textunderline::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
     bottom: -5px;
    left: 0;
    background-color: #0078FF;
}

.maintext::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 5px;
    bottom: -10px;
    left: 50%;
    transform: translateX(50%);
    background-color: #0078FF;
     -webkit-transform: translateX(-50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}

.services{
    background-color: #F5F5F5;
    .container .aboutcard{
        &:hover i{
            border-color: #CDE1F8 !important;
            background-color: var(--color-mblue);
            color: white;
        }
        i{
            transition: 0.5s all;
            background-color: white;
            border-color: var(--color-mblue) !important;
            -webkit-transition: 0.5s all;
            -moz-transition: 0.5s all;
            -ms-transition: 0.5s all;
            -o-transition: 0.5s all;
        }
    }    
}

.numbers{
    background-image: linear-gradient(rgba(0, 120, 255, 0.7), rgba(59, 143, 238, 0.7)), url(../imgs/counters-bg.jpg);
     background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.portoflio{
    background-color: #F5F5F5;
    .imgcontainer{
        overflow: hidden;
    }
    .portofliocard{
        img{
            transition: 0.5s all;
            -webkit-transition: 0.5s all;
            -moz-transition: 0.5s all;
            -ms-transition: 0.5s all;
            -o-transition: 0.5s all;
            cursor: pointer;
        }
        &:hover img{
            transform: scale(1.3);
            -webkit-transform: scale(1.3);
            -moz-transform: scale(1.3);
            -ms-transform: scale(1.3);
            -o-transform: scale(1.3);
        }
    }
}

.workextention, .contact{
     background-image: linear-gradient(rgba(0, 120, 255, 0.7), rgba(59, 143, 238, 0.7)), url(../imgs/overlay-bg.jpg);
     background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom center;   
}

.blog{
    img{
        cursor: pointer;
    }
    .cardtext{
        .second{
            background-color: rgba(185, 187, 188, 0.3);
        }
        a{
            transition: 0.3s all;
            -webkit-transition: 0.3s all;
            -moz-transition: 0.3s all;
            -ms-transition: 0.3s all;
            -o-transition: 0.3s all;
            color: black;
        }
        a:hover{
            color: var(--color-mblue) !important;
        }
    }
    .smallimg{
        width: 32px;
        height: 32px;
        margin-right: 4px;
        overflow: hidden;
    }
}

.contact{
    form{
        button{
            transition: all 0.3s;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
            &:hover{
                background-color: #439bff !important;
                border: #CDE1F8 solid 3px !important;
            }
        }
    }
    .social{
        .socialitem{
            transition: all 0.3s;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
            color: black;
            &:hover{
                border: #CDE1F8 solid 3px !important;
                background-color: #0078FF;
                color: white;
            }
        }
    }
}
